@model ProjectXbet.ViewModels.AdministrationViewModel

@{
    ViewData["Title"] = "View";
}



    
    <hr />
    <div>
        stats for odds in each league
        <br/>
        <a class="btn btn-dark text-monotonous" asp-controller="Administration" asp-action="GetOddsInLeaguesStats" asp-route-TipTypeId="1">monotonous</a>
        <a class="btn btn-dark text-adventurous" asp-controller="Administration" asp-action="GetOddsInLeaguesStats" asp-route-TipTypeId="2">adventurous</a>
        <a class="btn btn-dark text-ludicrous" asp-controller="Administration" asp-action="GetOddsInLeaguesStats" asp-route-TipTypeId="3">ludicrous</a>
    </div>
    <div class="row ml-5 p-5">
        <div class="col-md-4" style=" border: 2px solid black;">
            <h4>Add Prediction</h4>
            <form asp-controller="Administration" asp-action="CreatePrediction" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Odds" class="control-label"></label>
                    <input asp-for="Odds" class="form-control" />
                    <span asp-validation-for="Odds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Chance" class="control-label"></label>
                    <input asp-for="Chance" class="form-control" />
                    <span asp-validation-for="Chance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatchId" class="control-label"></label>
                    <select asp-for="MatchId">
                        @foreach (var item in Model.Matches)
                        {
                            <option value="@item.MatchId">@item.ClubHomeName - @item.ClubAwayName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TipId" class="control-label"></label>
                    <select asp-for="TipId">
                        @foreach (var item in Model.Tips)
                        {
                            <option value="@item.TipId">@item.TipName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId">
                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4" style="border: 2px solid black;">
            <h4>Add Match</h4>
            <form asp-controller="Administration" asp-action="CreateMatch" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MatchDateTime" class="control-label"></label>
                    <input asp-for="MatchDateTime" class="form-control" />
                    <span asp-validation-for="MatchDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClubHomeName" class="control-label"></label>
                    <input asp-for="ClubHomeName" class="form-control" />
                    <span asp-validation-for="ClubHomeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClubAwayName" class="control-label"></label>
                    <input asp-for="ClubAwayName" class="form-control" />
                    <span asp-validation-for="ClubAwayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeagueId" class="control-label"></label>
                    <select asp-for="LeagueId">
                        @foreach (var item in Model.Leagues)
                        {
                            <option value=@item.LeagueId>@item.LeagueName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            @if (ViewData["msg"] != null)
            {
                <p>@ViewData["msg"]</p>
            }
        </div>
        <div class="col-md-4" style="height: 40vh; overflow-y: auto;">
            <table class="table-light">
                @foreach(var item in Model.Matches)
                {
                    <tr>
                        <td><img src=@item.League.LeagueFlag width="33" height="22"/></td>
                        <td>@item.MatchDateTime</td>
                        <td>@item.ClubHomeName</td>
                        <td>@item.ClubAwayName</td>
                        <td>
                            <a class="btn text-warning" asp-controller="Administration" asp-action="EditMatch" asp-route-MatchId=@item.MatchId>edit</a>
                        </td>
                        <td>
                            <form asp-controller="Administration" asp-action="DeleteMatch" asp-route-MatchId=@item.MatchId method="post">
                                <input class="btn text-ludicrous" type="submit" value="x" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tips-holder text-center">
                <div class="tips-holder-header">
                    <h3><span class="table-heading">tips</span></h3>
                </div>
                <div class="table-holder">
                    <table class="table table-light text-center">
                        <tr>
                            <th scope="col">datetime</th>
                            <th scope="col" colspan="2">match</th>
                            <th scope="col" colspan="2">tip</th>
                            <th scope="col">odds</th>
                            <th scope="col" colspan="2"><span class="text-primary">set outcome</span></th>
                        </tr>
                        @foreach (var item in Model.Predictions)
                        {
                    <tr>
                        <td align="center"><small>@item.Match.MatchDateTime.Day/@item.Match.MatchDateTime.Month @item.Match.MatchDateTime.Hour:@item.Match.MatchDateTime.Minute</small></td>
                        <td align="center"><img src=@item.Match.League.LeagueFlag width="33" height="22"></td>
                        <td align="center"><small>@item.Match.ClubHomeName - @item.Match.ClubAwayName</small></td>
                        <td align="center"><img src=@item.Tip.TipFlag width="33" height="22" /> </td>
                        <td align="center"><small>@item.Tip.TipName</small></td>
                        <td align="center"><small>@item.Odds</small></td>
                        <td align="center">
                            <form asp-controller="Administration" asp-action="SetPredictionOutcome" asp-route-PredictionId=@item.PredictionId asp-route-IsCorrect="false" method="post">
                                <input style="width: 20%;" asp-for="ClubHomeGoalsHalf" placeholder="home half"/>
                                <input style="width: 20%;" asp-for="ClubAwayGoalsHalf" placeholder="away half" />
                                <input style="width: 20%;" asp-for="ClubHomeGoals" placeholder="home" />
                                <input style="width: 20%;" asp-for="ClubAwayGoals" placeholder="away" />
                                <input class="btn text-danger w-auto" type="submit" value="lose" />
                            </form>
                        </td>
                        <td align="center">
                            <form asp-controller="Administration" asp-action="SetPredictionOutcome" asp-route-PredictionId=@item.PredictionId asp-route-IsCorrect="true" method="post">
                                <input style="width: 20%;" asp-for="ClubHomeGoalsHalf" placeholder="home half" />
                                <input style="width: 20%;" asp-for="ClubAwayGoalsHalf" placeholder="away half" />
                                <input style="width: 20%;" asp-for="ClubHomeGoals" placeholder="home" />
                                <input style="width: 20%;" asp-for="ClubAwayGoals" placeholder="away" />
                                <input class="btn text-success w-auto" type="submit" value="win" />
                            </form>
                        </td>
                        <td>
                            <a class="btn text-monotonous" asp-controller="Administration" asp-action="EditPrediction" asp-route-PredictionId=@item.PredictionId>edit</a>
                        </td>
                        <td align="center">
                            <form asp-controller="Administration" asp-action="DeletePrediction" asp-route-PredictionId=@item.PredictionId method="post">
                                <input class="btn text-ludicrous" type="submit" value="x" />
                            </form>
                        </td>
                    </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
