@model ProjectXbet.ViewModels.PredictionsViewModel
@{ 
    Layout = "_Layout";
    int TipTypeId = (int)ViewData["TipType"];
}
    
    <!--wrapper-->
    <div class="row">
        
        <div class="col-xl-8 col-lg-12" id="tips-holder">
            <div class="content-holder text-center mt-3">
                <div class="tips-holder-header">
                    <span class="section-heading"><img src="~/img/tipsFlag.svg" /> Tips </span>
                </div>
                <div class="row">
                    @if(Model.Predictions.Count < 1)
                    {
                        <span class="text-danger">Tips will be available on friday, check out our stats <a class="text-primary font-weight-bold" asp-controller="Statistics" asp-action="Index" asp-route-TipTypeId="@TipTypeId">here</a>.</span>
                    }
                    else
                    {
                    @foreach (var item in Model.Predictions)
                        {
                            <div class="col-12">
                                <div class="tip-card">
                                    <div class="row tip-card-header d-none">
                                        <div class="col-7 text-left">
                                            <img src="@item.Match.League.LeagueFlag" width="33" height="22" />
                                            <span class="tip-card-text-second">@item.Match.League.LeagueName</span>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="tip-card-text-second">@item.Match.MatchDateTime.Day/@item.Match.MatchDateTime.Month @item.Match.MatchDateTime.Hour:@item.Match.MatchDateTime.Minute</span>
                                        </div>
                                    </div>
                                    <div class="tip-card-body">
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-6"></div>
                                                    <div class="col-3 text-center">
                                                        <span class="tip-card-text-second">@item.Match.MatchDateTime.Day/@item.Match.MatchDateTime.Month @item.Match.MatchDateTime.Hour:@item.Match.MatchDateTime.Minute</span>
                                                    </div>
                                                    <div class="col-3"></div>
                                                </div>
                                            </div>
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-6 text-center"><img class="img-tip-flag" src="@item.Tip.TipFlag" /></div>
                                                    <div class="col-6 text-center">
                                                            
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <img src="@item.Match.League.LeagueFlag" width="33" height="22" />
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <span class="tip-card-text d-inline">@item.Match.ClubHomeName</span>
                                                    </div>
                                                    <div class="col-3 text-center">
                                                        <span class="tip-card-text text-primary d-inline"><span class="tip-card-text-second">  -  </span></span>
                                                    </div>
                                                    <div class="col-3 text-left">
                                                        <span class="tip-card-text d-inline">@item.Match.ClubAwayName</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-6 text-center">
                                                        <span class="tip-card-text text-primary">@item.Tip.TipName</span>
                                                    </div>
                                                    <div class="col-6 text-center">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <span class="tip-card-text text-primary">@item.Odds</span>
                                                            </div>
                                                            <div class="col-4">
                                                            <span class="tip-card-text">@item.Chance%</span>
                                                            </div>
                                                            <div class="col-4">
                                                                <a href="#" class="btn btn-primary" title="add to betslip" id="TicketItem-@item.PredictionId">+</a>
                                                                <script type="text/javascript">

                                                                        $(document).ready(function () {
                                                                            $("#TicketItem-@item.PredictionId").on("click", function () {
                                                                                var thisPredictionId = @item.PredictionId;
                                                                                $.ajax({
                                                                                    url: "Prediction/AddTicketItem",
                                                                                    method: "POST",
                                                                                    data: { PredictionId: thisPredictionId }
                                                                                }).done(function () {
                                                                                    $('#betslip-holder').load(document.URL + ' #betslip-holder');
                                                                                    $('#betslip').css("display", "block");
                                                                                    $("#message").html("Ticket item added");
                                                                                    $("#message").fadeOut();
                                                                                    $("#message").fadeIn();
                                                                                });
                                                                            });
                                                                        });

                                                                </script>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row tip-card-footer d-none">
                                            <div class="col-10"></div>
                                            
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
            
        </div>

        
        <div class="col-xl-4 col-lg-12 p-3">
                @await Component.InvokeAsync("Betslip")
            
        </div>
    </div>
    
    

<nav class="tf-navbar-bottom" id="bottom-nav-tips-view">
    <ul class="tf-navbar-bottom-items-holder">
        
        <li class="tf-navbar-bottom-item">
            <a class="nav-link nav-item-active" id="bottom-nav-tips-tips">
                <img src="~/img/tipsFlag.svg"/>
            </a>
        </li>
        <li class="tf-navbar-bottom-item">
            <a class="nav-link" id="bottom-nav-tips-betslip">
                <img src="~/img/betslipFlag.svg" />
            </a>
        </li>
    </ul>
</nav>


    <!--wrapper-->
    

