@model ProjectXbet.ViewModels.BetslipViewModel

<div class="betslip-holder" id="betslip-holder">
    <div class="betslip-header" id="betslip-header">
        <div class="row">
            <div class="col-6 text-left">
                <img src="~/img/betslipFlag.svg" />
                <span class="section-heading">Betslip</span>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" id="btn-add-random-ticket-item" title="Get random tip">
                    <svg style="margin-top: 0 !important;" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.8855 1.64746L1.64666 3.88629L16.7611 19L19 16.7611L3.8855 1.64746ZM5.56461 6.68485L2.76609 3.88629L3.8855 2.76687L6.68404 5.56543L5.56461 6.68485ZM6.935 2.05754C7.91035 2.35521 8.67432 3.11917 8.97115 4.0945C9.26961 3.11917 10.0336 2.35521 11.0081 2.05754C10.0336 1.75988 9.26961 0.996707 8.97115 0.0205834C8.67432 0.995915 7.91035 1.75988 6.935 2.05754ZM2.70117 7.56281C2.30692 8.85715 1.29438 9.86969 0 10.2647C1.29438 10.6598 2.30692 11.6715 2.70117 12.9651C3.09621 11.6715 4.10875 10.659 5.40234 10.2647C4.10875 9.86893 3.09621 8.85715 2.70117 7.56281ZM10.264 5.05717C10.9543 5.26775 11.4934 5.80765 11.704 6.498C11.9146 5.80765 12.4545 5.26775 13.144 5.05717C12.4545 4.84659 11.9146 4.30667 11.704 3.61634C11.4934 4.30587 10.9535 4.84659 10.264 5.05717ZM13.7679 0C13.528 0.786915 12.9113 1.40284 12.1251 1.6435C12.9129 1.88416 13.528 2.50009 13.7695 3.28779C14.0094 2.50087 14.626 1.88496 15.4114 1.6435C14.626 1.40363 14.0085 0.786915 13.7679 0Z" fill="white" />
                    </svg>
                </button>
                <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#btn-add-random-ticket-item").on("click", function () {
                                                $.ajax({
                                                    url: "Prediction/AddRandomTicketItem",
                                                    method: "POST",
                                                    data: { TipTypeId: @Model.TipTypeId}
                                                }).done(function () {
                                                    $('#betslip').load(document.URL + ' #betslip');
                                                    $('#betslip').css("display", "block");
                                                    $("#message").html("Ticket item added");
                                                    $("#message").fadeOut();
                                                    $("#message").fadeIn();
                                                });
                                            });
                                        });
                </script>
            </div>
        </div>

    </div>

    <div class="betslip" id="betslip">
        <div class="betslip-table-holder">
            <table class="table table-light text-center">
                @if (Model.Predictions != null)
                {
                    foreach (var item in Model.Predictions)
                    {
                        <tr>
                            <td align="center"><small>@item.Match.MatchDateTime.Day/@item.Match.MatchDateTime.Month @item.Match.MatchDateTime.Hour:@item.Match.MatchDateTime.Minute</small></td>
                            <td align="center"><small>@item.Match.ClubHomeName - @item.Match.ClubAwayName</small></td>
                            <td align="center"><img src=@item.Tip.TipFlag title="@item.Tip.TipName" width="33" height="22" /> </td>
                            <td align="center"><small>@item.Odds</small></td>
                            <td align="center">
                                <a href="#" class="btn btn-secondary" id="DeleteTicketItem-@item.PredictionId">-</a>
                                <script type="text/javascript">
                                        $(document).ready(function () {

                                            $("#DeleteTicketItem-@item.PredictionId").on("click", function () {


                                                var thisPredictionId = @item.PredictionId;

                                                $.ajax({
                                                    url: "Prediction/DeleteTicketItem",
                                                    method: "POST",
                                                    data: {PredictionId : thisPredictionId}
                                                }).done(function () {
                                                    $('#betslip-holder').load(document.URL + ' #betslip-holder');
                                                    //$('#betslip-header').load(document.URL + ' #betslip');
                                                    $('#betslip').css("display", "block");
                                                    $("#message").html("Ticket item removed");
                                                    $("#message").fadeOut();
                                                    $("#message").fadeIn();
                                                });
                                                
                                            });
                                        });
                                </script>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4"><small class="text-primary">Add tip to betslip by clicking "+" near it</small></td></tr>
                }
            </table>
        </div>
        @if (Model.Predictions.Count > 0)
        {
    <div class="betslip-footer">


        <div class="betslip-control">
            <a class="btn btn-success" href="#" id="SaveTicket">Save</a>
            <script type="text/javascript">
                                        $(document).ready(function () {

                                            $("#SaveTicket").on("click", function () {
                                                $.ajax({
                                                    url: "Prediction/SaveTicket",
                                                    method: "POST",
                                                    data: { TicketId: @Model.TicketId}
                                                }).done(function () {
                                                    $('#betslip-holder').load(document.URL + ' #betslip-holder');
                                                    $("#message").html("Ticket saved");
                                                    $("#message").fadeOut();
                                                    $("#message").fadeIn();
                                                });
                                            });
                                        });
            </script>

        </div>
        <div class="betslip-control">
            <a class="btn btn-danger" href="#" id="delete-ticket">
                Delete
                <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#delete-ticket").on("click", function () {
                                                $.ajax({
                                                    url: "Prediction/DeleteTicket",
                                                    method: "POST",
                                                    data: {TicketId : @Model.TicketId}
                                                }).done(function () {
                                                    $('#betslip-holder').load(document.URL + ' #betslip-holder');
                                                    $("#message").html("Ticket canceled");
                                                    $("#message").fadeOut();
                                                    $("#message").fadeIn();
                                                });
                                            });
                                        });
                </script>
            </a>
        </div>
        <div class="betslip-info">
            <div class="text-primary text-right w-100 mr-2" style="height: 5%;">
                <span class="fs-19">Odds: <b>@Model.TotalOdds.ToString("#.00")</b></span>
            </div>
        </div>
    </div>
        
        }

    </div>


</div>