@model ProjectXbet.ViewModels.LeagueTipDetailedViewModel
@{ 
    int TipTypeId = (int)ViewData["TipTypeId"];
}
<div class="row">
   
    
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-12 text-center mt-3">
                <div class="tip-card">
                    <div class="row">
                        <div class="col-12 tipstats-card-header bg-white text-center h-100 ">
                            <div class="row">
                                <div class="col-6 text-center"><img src="@Model.League.LeagueFlag" width="33" height="22" /></div>
                                <div class="col-6 text-center"><img src="@Model.Tip.TipFlag" /></div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-center"><span class="tip-card-text-second">@Model.League.LeagueName</span></div>
                                <div class="col-6 text-center"><span class="tip-card-text-second">@Model.Tip.TipName</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="tip-card-body">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2"><span class="tip-card-text-second text-dark">Odds</span></div>
                            <div class="col-2"><span class="tip-card-text-second text-dark">Total</span></div>
                            <div class="col-2"><span class="tip-card-text-second text-dark">Wins</span></div>
                            <div class="col-2"><span class="tip-card-text-second text-dark">%</span></div>
                            <div class="col-2"><span class="tip-card-text-second text-dark">ROI</span></div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2"><span class="tip-card-text">@Model.LeagueAverageOdds.ToString("#.00")</span></div>
                            <div class="col-2"><span class="tip-card-text">@Model.LeagueTotalPlayed</span></div>
                            <div class="col-2"><span class="tip-card-text">@Model.LeagueWins</span></div>
                            <div class="col-2"><span class="tip-card-text">@Model.LeaguePercentage.ToString("#.00")%</span></div>
                            <div class="col-2">
                                @if (Model.LeagueRoi > 0)
                                {
                                    <span class="tip-card-text font-weight-bold text-adventurous">@Model.LeagueRoi.ToString("#.00")%</span>
                                }
                                else
                                {
                                    <span class="tip-card-text font-weight-bold text-ludicrous">@Model.LeagueRoi.ToString("#.00")%</span>
                                }
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-12">
                <div class="content-holder text-center mt-3" id="stats-tips-holder">
                    <div class="mt-3 tips-holder-header">
                        <span class="section-heading"><img src="~/img/tipsFlag.svg" /> Tips </span>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.Predictions)
                        {
                            <div class="col-12">
                                <div class="tip-card">
                                    <div class="row tip-card-header">
                                        <div class="col-7 text-left">
                                            <img src="@item.Match.League.LeagueFlag" width="33" height="22" />
                                            <span class="tip-card-text-second">@item.Match.League.LeagueName</span>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="tip-card-text-second">@item.Match.MatchDateTime.Day/@item.Match.MatchDateTime.Month @item.Match.MatchDateTime.Hour:@item.Match.MatchDateTime.Minute</span>
                                        </div>
                                    </div>
                                    <div class="tip-card-body">
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <span class="tip-card-text-second">(@item.Match.ClubHomeGoalsHalf-@item.Match.ClubAwayGoalsHalf) </span>
                                            </div>
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-6 text-center"><img class="img-tip-flag" src="@item.Tip.TipFlag" /></div>
                                                    <div class="col-6 text-center">
                                                        @if (item.IsCorrect.Value)
                                                        {
                                                            <span class="tip-card-text text-adventurous">@item.Odds</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="tip-card-text text-ludicrous">@item.Odds</span>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-4 text-right">
                                                        <span class="tip-card-text d-inline">@item.Match.ClubHomeName</span>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <span class="tip-card-text text-primary d-inline">@item.Match.ClubHomeGoals<span class="tip-card-text-second">  -  </span>@item.Match.ClubAwayGoals</span>
                                                    </div>
                                                    <div class="col-4 text-left">
                                                        <span class="tip-card-text d-inline">@item.Match.ClubAwayName</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 text-center">
                                                <div class="row">
                                                    <div class="col-6 text-center"><span class="tip-card-text text-primary">@item.Tip.TipName</span></div>
                                                    <div class="col-6 text-center">
                                                        @if (item.IsCorrect.Value)
                                                        {
                                                            <img src="~/img/IsCorrectTrue.svg" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/img/IsCorrectFalse.svg" />
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row tip-card-footer d-none">
                                        <div class="col-10"></div>
                                        @if (item.IsCorrect.Value)
                                        {
                                            <div class="col-1 text-right"><span class="tip-card-text text-adventurous">@item.Odds</span></div>
                                            <div class="col-1 text-right"><img src="~/img/IsCorrectTrue.svg" /></div>
                                        }
                                        else
                                        {
                                            <div class="col-1 text-right"><span class="tip-card-text text-ludicrous">@item.Odds</span></div>
                                            <div class="col-1 text-right"><img src="~/img/IsCorrectFalse.svg" /></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            
            
        </div>
        
        
    </div>
</div>

    

